@{
  Layout = "_Layout";
}

@model DrSillystringz.Models.Machine

<h2>Are you sure you want to delete this Machine?</h2>

<br><br>

@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)

<br>
<hr />
<br>

@using (Html.BeginForm())
{
  <input class="btn btn-danger" type="submit" value="Delete" />
}

<br>
<hr />

<p><strong>Go To..</strong></p>
@Html.ActionLink("Back to Machines", "Index")


@* <p class="btn btn-danger">@Html.ActionLink("Delete This Machine", "Delete", new { id = Model.MachineId })</p> *@




@* @{
  Layout = "_Layout";
}

@model DrSillystringz.Models.Engineer

<h2>Are you sure you want to delete this Engineer?</h2>

@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Engineers", "Index") *@