@{
  Layout = "_Layout";
}

@model DrSillystringz.Models.Machine;

<h2>Machine Details:</h2>
<h4>@Html.DisplayFor(model => model.MachineName)</h4>
<hr />

@if (@Model.Engineers.Count == 0)
{
  <p>This Machine does not have any assigned to it.</p>
}
else
{
  <h4>Engineer(s) assigned to this machine:</h4>
  <ul style="list-style-type: none;">
    @foreach (var join in Model.Engineers)
    {
      <hr />
      <li><strong>Engineer Name: </strong>@join.Engineer.EngineerName </li>
      <li><strong>Engineer ID:</strong> @join.Engineer.EngineerId</li>
      <hr />
    }
  </ul>
}

<p class="btn btn-success">@Html.ActionLink("Add Engineer", "Edit", new { id = Model.MachineId })</p>
<br><br>
<p class="btn btn-warning">@Html.ActionLink("Edit This Machine", "Edit", new { id = Model.MachineId })</p>
<br><br>
<p class="btn btn-danger">@Html.ActionLink("Delete This Machine", "Delete", new { id = Model.MachineId })</p>

<hr />

<h4><strong>Go To..</strong></h4>
<p>@Html.ActionLink("Back to Machines", "Index")</p>
