@{
  Layout = "_Layout";
}

@model DrSillystringz.Models.Machine

<h2>Edit this Machine: @Html.DisplayFor(model => model.MachineName)</h2><br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)<br>

  @Html.Label("Machine Name:")<br>

  @Html.EditorFor(model => model.MachineName)<br><br>


  @Html.Label("Assign Active Engineer to this Machine:")<br>
  @Html.DropDownList("EngineerId")<br><br><br><br>
  
  <input type="submit" value="Confirm Changes" class="btn btn-success" />
}
  <br><br>

  @if (@Model.Engineers.Count == 0)
  {
    <p>No Engineers assigned.</p>
  }
  else
  {
    <h4>Engineer(s) currently assigned to this machine:</h4>
    <ul style="list-style-type: none;">
      @foreach (var join in Model.Engineers)
      {
        <br>
        <li><strong>Engineer Name: </strong>@join.Engineer.EngineerName</li>
        <li><strong>Engineer ID:</strong> @join.Engineer.EngineerId</li>
        <br>
        @using (Html.BeginForm("DeleteEngineer", "Machines"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete Engineer"/>
        }
        <hr />
      }
    </ul>
  }
<br><hr />

<p><strong>Go To..</strong></p>
<p>@Html.ActionLink("Back to Machines", "Index")</p>