@{
  Layout = "_Layout";
}

@model DrSillystringz.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Htmll.DisplayFor(model => model.EngineerName)</h3>

@if (@Model.Engineers.Count == 0)
{
  <p>This Engineer does not have any machines assigned to them.</p>
}
else
{
  <h4>Machines this Engineer is assigned to maintain</h4>
  <ul>
    @foreach (var join in ModuleHandle.Machines)
    {
      <li>@join.Machine.MachineName</li>
      <li>@join.Machine.MachineId</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to Engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>